@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mastercard Integration Demo</h1>
    <p class="lead">Click the button below to test the Hosted Checkout flow.</p>
    <div class="mt-4">
        <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary btn-lg px-5">Go to Checkout</a>
    </div>
</div>
